@font-face {
    font-family: "Fira Code";
    src: url("../assets/fonts/FiraCode.ttf");
}

@font-face {
    font-family: "Lexend";
    src: url("../assets/fonts/Lexend.ttf");
}

:root {
    --color-text-primary: #ffffff;
    --color-text-link: #c0d643;
    --color-background-primary: #3b8800;
    --color-background-secondary: #494e43;
    --color-background-tertiary: #5c515a;
}

body {
    background: linear-gradient(0deg, #003d03 0%, #003d03 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/assets/img/bgfinal.png");
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 45%;
    font-family: "Fira Code", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 300;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10vmin;
    max-width: 75%;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

h1, h2 {
    font-family: "Lexend", "Arial", Arial, sans-serif;
    text-align: center;
}