@font-face {
    font-family: "Fira Code";
    src: url("../assets/fonts/FiraCode.ttf");
}

@font-face {
    font-family: "Lexend";
    src: url("../assets/fonts/Lexend.ttf");
}

:root {
    --color-text-primary: #ffffff;
    --color-text-link: #c0d643;
    --color-background-primary: #3b8800;
    --color-background-secondary: #494e43;
    --color-background-tertiary: #5c515a;
}

body {
    color: var(--color-text-primary);
    background: linear-gradient(0deg, #003d03 0%, #003d03 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/assets/img/bgfinal.png");
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 45%;
    font-family: "Fira Code", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 300;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10vmin;
    max-width: min(98%, 45em);
    overflow-wrap: break-word;
    overflow-y: scroll;
}

h1, h2 {
    font-family: "Lexend", "Arial", Arial, sans-serif;
    text-align: center;
}

h2 {
    margin-bottom: 16px;
}

p {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

a {
    color: var(--color-text-link)
}

table, tr, th, td {
    border-collapse: collapse;
}

td:first-child {
    padding-left: 0.6em;
}

td:last-child {
    padding-right: 0.6em;
}

.reduceTopMargin {
    margin-top: -0.75em;
}

.centerHoriz {
    margin: auto;
    width: min(100%, 45em);
}

.categoryLink {
    padding-top: 1em;
    display: block;
}

.categoryBoard {
    background-color: var(--color-background-secondary);
    text-align: left;
}

.categoryBoard tr td:nth-child(3) {
    text-align: center;
}

.categoryBoard tr td:nth-child(4) {
    text-align: right;
}

.categoryBoard tr:nth-child(even) {
    background-color: var(--color-background-tertiary);
}

.runContainer {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%
}